* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Parent Navbar */
nav {
    overflow: hidden;
    background-color: #0c0f0a
}

/* Nav Links */
nav a {
    float: left;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Subnav menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #24a8d8;
}

/* Style the subnav conent - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #24a8d8;
    width: 100%;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    color: whitesmoke;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #fbff12;
    color: #0c0f0a;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}

/* style for the social icons */
.left-nav a {
    float: left;
    color: whitesmoke;
    text-decoration: none;
    align-content: right;
}

/* skills bar */
.skill-box .container {
    width: 100%; /* Full Width */
    background-color: #ddd; /* Grey Background */
}

.skills {
    text-align: right; 
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
}

.html {width: 80%; background-color: #e34c26; color: #ebebeb}
.python {width: 75%; background-color: #306998; color: #ebebeb}
.css {width: 65%; background-color: #264de4; color: #ebebeb}
.javascript {width: 60%; background-color: #f0db4f; color: #323330}
.php {width: 40%; background-color: #787cb5; color: #ffffff}
